@import "../../assets/bower_components/bootstrap/less/variables.less";
@import "../../assets/bower_components/bootstrap/less/mixins.less";
@import "../../assets/less/colors.less";

html,body { height:100%; }
.secondary{
  .make-sm-column(3);
  background-color: fade(@pomegranate,70%);
  padding-top: 3em;
  padding-bottom: 1em;
  h1,h2,h3,h4,h5,h6,p{
    color: lightgrey;
  }
  min-height: 100%;
  height: 100%;

  .well{
    background-color: fade(@pomegranate,70%);
  }
}
main{
  .make-sm-column(9);
}
section.sidebar{
  .make-sm-column(3);
}
#status ul{
  list-style: none;
}
.formwrap{
  .alert{
    background-color: greenyellow;
    padding: 2em;
  }
}
