
body > .container {
    padding-top: 60px;
}

ul.nav li.nav-item a{
    text-decoration:none;
    color: papayawhip;
}

/* unvisited link */
ul.nav li.nav-item a:link {
    color: lemonchiffon;
}

/* visited link */
ul.nav li.nav-item a:visited {
    color: blueviolet;
}

/* mouse over link */
ul.nav li.nav-item a:hover {
    color: orange;
}

/* selected link */
ul.nav li.nav-item a:active {
    color: azure;
}

